{{ template "baseFrontEndView.html" . }}

{{ define "content" }}
    <!-- Shops -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{i18n .Lang "top.shops"}}</h2>
        </div>
    </div>

    {{ $lastIndex := add (len .shops) -1 }}
    {{ range $index, $shop := .shops }}
        {{ $modulus := mod $index 3 }}
        {{ if eq $modulus 0 }}
        <div class="row">
        {{ end }}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{$shop.ImageURL}}" alt="{{$shop.Image}}">
                    <div class="caption">
                        <h3>{{$shop.Name}}</h3>
                        <a href="shop/{{$shop.Id}}" class="btn btn-primary">{{i18n $.Lang "top.shop_now"}}</a>
                    </div>
                </div>
            </div>
        {{ if or (eq $modulus 2) (eq $index $lastIndex) }}
        </div>
        {{ end }}
    {{ end }}
{{ end }}