{{ template "baseFrontEndView.html" . }}

{{ define "css" }}
    <!-- Booklet plugin -->
    <link href="/static/booklet/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />

    <style>
        .menu-content {
            width: 100%;
            height: 100%;
            padding: 10px;
        }
        .menu-content .menu-image {
            height: 480px;
            background-position: center top;
            background-repeat: no-repeat;
        }

        .select-area {
            position:absolute;
        }

        .select-area .description {
            display: none;
        }
    </style>
{{ end }}

{{ define "top_js" }}
    <script src="/static/booklet/jquery-ui-1.10.4.min.js"></script>
{{ end }}

{{ define "content" }}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{.shop.Name}}</h2>
        </div>
    </div>

    <div class="row">
        <div id="menus">
            {{range $index, $menu := .menus}}
            <div class="menu-content">
                <div class="menu-header">
                    <h3>{{$menu.Name}}</h3>
                </div>                
                <div class="menu-image" style="position:relative;">
                    <img src="{{$menu.ImageURL}}">
                    {{range $index, $menuDetail := $menu.MenuDetails}}
                    <div class="select-area" food-name="{{$menuDetail.FoodName}}" style="top:{{$menuDetail.Top}}px;left:{{$menuDetail.Left}}px;width:{{$menuDetail.Width}}px;height:{{$menuDetail.Height}}px">
                        <div class="description">{{$menuDetail.FoodDescription}}</div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="map" style="width:100%;height:400px"></div>
        </div>
    </div>
{{ end }}

{{ define "bottom_js" }}
    <!--<script src="/static/booklet/jquery-ui-1.10.4.min.js"></script>-->
    <script src="/static/booklet/jquery.easing.1.3.js"></script>
    <script src="/static/booklet/jquery.booklet.latest.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $(function() {
            $('#menus').booklet({
                width: '100%',
                height: 550,
                pagePadding: 0
            });

            $('.select-area').click(function() {
                console.log($(this).attr('food-name'));
            });
        });
    </script>
    {{ if gt .shop.Id 0 }}
    <script>
        function showMap() {
            var latlng = new google.maps.LatLng({{ .shop.Lat }}, {{ .shop.Long }});
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: latlng, 
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            
            var marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({});
            infowindow.setContent(
                '<div style="text-align:center"> <h3>{{.shop.Name}}</h3> <img style="width:180px; height:100px" class="img-responsive" src="{{.shop.ImageURL}}" alt="{.$shop.Image}}"> </div>');
            infowindow.open(map, marker);
        }
    </script>
    {{ end }}
    <script src='https://maps.googleapis.com/maps/api/js?key={{ config "String" "gmaps_api_key" "AIzaSyAikVga80Tt2_4JH8wmyrrnCZkF0jUzzqc" }}&&callback=showMap' async defer></script>
{{ end }}