<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{.page_title}}</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/node_modules/core-js/client/shim.min.js"></script>
    <script src="/static/node_modules/zone.js/dist/zone.js"></script>
    <script src="/static/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/static/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/static/systemjs.config.js"></script>

    {{range .HeadStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}
</head>
<body id="home">

<header>

</header>

<div id="wrap">
    {{.LayoutContent}}
</div>

<footer>

</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

{{range .HeadScripts}}
<script src="{{.}}"></script>
{{end}}

</body>
</html>