<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{.page_title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.min.css" rel="stylesheet">
    {{range .HeadStyles}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}
</head>
<body id="home">

<header>

</header>

<div id="wrap">
    {{.LayoutContent}}
</div>

<footer>

</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
{{range .HeadScripts}}
<script src="{{.}}"></script>
{{end}}

</body>
</html>