<div class="panel-body">
    <div class="col-lg-12">
        <h1>Create Menu</h1>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <h4>Foods</h4>
            </div>
            <div class="col-lg-12 fixed-table-container" style="padding-bottom: 0px;">
                <div class="fixed-table-header" style="display: block;">
                    <table>

                    </table>
                </div>
                <div class="fixed-table-body">
                    <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                    <table data-toggle="table" data-search="true" data-pagination="true" data-sort-name="name" data-sort-order="asc" class="table table-hover" style="margin-top: 0px;">
                        <thead style="display: table-header-group;">
                        <tr>
                            <th style="">
                                <div class="th-inner sortable">Name</div>
                                <div class="fht-cell"></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngIf="foods.length > 0">
                            <tr *ngFor="let food of foods" attr.data-index="{{food.Id}}">
                                <td>{{food.Name}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="foods.length == 0">
                            <tr>
                                <td class="center-align">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <h4>Menu</h4>
            </div>
            <div class="col-lg-12 text-center">
                <div #menuBGContainer style="margin: 0 auto; position: relative">
                    <img src="/static/uploads/menus/{{menuId}}" #menuBG>
                    <div *ngIf="menuDetails.length > 0" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%">
                        <div *ngFor="let detail of menuDetails" [style.position]="'absolute'" [style.background-color]="'rgba(0, 0, 0 , 0.2)'"
                                attr.data-index="{{detail.Id}}" [style.left]="detail.Left + 'px'" [style.top]="detail.Top + 'px'" [style.width]="detail.Width + 'px'" [style.height]="detail.Height + 'px'">
                            <img src="{{detail.ImageURL}}">
                            <span style="position: absolute; top: 2px; left: 2px; color: white">{{detail.Name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-right">
        <button type="button" class="btn btn-primary" (click)="updateMenuDetails()">Save</button>
        <button type="button" class="btn btn-default" (click)="returnMenus()">Back</button>
    </div>
</div>
